* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
}

ul {
    width: 70%;
}

h3 {
    margin-top: 20px;
}

.header-botton {
    display: flex ;
    justify-content: space-between;
    margin: 20px ;
}

.perfil img {
    border-radius: 50%;
    box-shadow: 1px 2px 5px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#phone img {
float: left;
}

#git, #link, #insta, #phone {
    transition: 0.5s;
}

#git:hover, #link:hover, #insta:hover, #phone:hover{
    scale: 1.1;
}

footer {
    padding: 20px 0;
}

/* Responsividade */

@media(max-width: 768px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 520px) {
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}